* {
    font-family: Georgia, serif;
}

.wrap {
    display: flex;
}

.bannerBlock {
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
}

#nav {
    background-color: navy;
    padding: 20px;
}

.radioLabel {
    color: silver;
    padding: 50px;
}

.radioLabel:hover {
    color: white;
    text-decoration: underline;
}

#left,
#right {
    background-color: azure;
    height: 550px;
}

#left {
    width: 70%;
}

#right {
    width: 30%;
}

#footer {
    background-color: navy;
    color: white;
}

table {
    border: 1px solid navy;
    margin: auto;
    width: 70%;
}

tr:hover {
    background-color: skyblue;
}

#right>img {
    width: 90%;
}