* {
    font-family: Georgia, sans-serif;
    text-align: center;
}

#banner,
#footer {
    background-color: #4BA3C7;
    color: white;
    height: 80px;
    font-size: 120%;
}

#wrap {
    display: flex;
}

#left,
#right {
    background-color: #EFEFEF;
    height: 400px;
    width: 25%;
}

#center {
    background-color: #90CAF9;
    height: 400px;
    width: 50%;
}

table {
    margin-left: 10px;
    width: 90%;
    border: 1px solid #90CAF9;
}

td {
    padding: 5px;
    border: 1px solid #90CAF9;
}

tr:hover {
    color: #90CAF9;
}

select {
    margin-top: 15px;
    margin-bottom: 15px;
}

h4 {
    margin: 0;
}