* {
    font-family: Verdana, sans-serif;
}

#banner,
#footer {
    display: flex;
}

#bLeft,
#bRight {
    background-color: seagreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
}

#bLeft {
    width: 75%;
}

#bRight {
    width: 25%;
    text-align: right;
}

#main {
    background-color: mintcream;
    padding: 80px;
}

#fLeft,
#fRight {
    background-color: seagreen;
    color: white;
    width: 50%;
    height: 70px;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

img {
    box-shadow: 15px 15px 10px dimgray;
}

a {
    text-decoration: none;
    background-color: mintcream;
    color: seagreen;
    margin: 15px;
    line-height: 70px;
}